@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Hubballi;
    background-color: #161616;
  }
  
  header {
    text-align: center;
    font-size: 3.5em;
    color: white;
    margin: 0.5em;
  }
  
  .title {
    background-color: #202020;
    padding: 0.2em;
    border-radius: 20px;
    border: #BB86FC;
  }
  nav {
    float: left;
    width: 20%;
    background: rgb(42, 42, 42);
    padding: 10px;
    color: white;
    height: 26rem;
    border-radius: 0.5em;
    margin-right: 2em;
    margin-left: 2em;
  }
  
  article {
    float: left;
    padding: 10px;
    width: 70%;
    color: white;
    text-overflow: clip;
    overflow-y: scroll;
    white-space:normal;
    height: 26rem;
    outline: none;
    border: 1px solid #BB86FC;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #BB86FC;
    -moz-box-shadow: 0px 0px 8px #BB86FC;
    -webkit-box-shadow: 0px 0px 8px #BB86FC;
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: rgb(43, 43, 43);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}

.name {
    width: 75%;
}

button {
    border-radius: 6px;
    background-color: rgb(43, 43, 43);
    color: rgb(151, 0, 211);
    font-size: medium;
    transition-duration: 0.4s;
    margin: 5px;
}

button:hover {
    background-color: rgb(151, 0, 197);
    color: black;
    font-weight: bold;
}

.button2 {
    border-radius: 50px;
}

#messages {
  font-size: 1em;
}
#messages bold {
  font-weight: 800;
}

