body {
    color: rgb(151, 0, 197);
    font-family: sans-serif, arial;
    background-color: black;
    text-align: center;
}

h3 {
    color:rgb(191, 0, 197)
}

div {
    transition-duration: 0.4s;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: rgb(49, 49, 49);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(49, 49, 49);
    min-width: 160px;
    padding: 5px 5px;
    z-index: 1;
    border-style: solid;
    border-color: rgb(151, 0, 197);
    border-width: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border1.PNG) 30 stretch;
  }

.accent_strip {
    background-color: rgb(49, 49, 49);
}

button {
    border-radius: 6px;
    background-color: rgb(43, 43, 43);
    color: rgb(151, 0, 211);
    font-size: medium;
    transition-duration: 0.4s;
    margin: 5px;
}

button:hover {
    background-color: rgb(151, 0, 197);
    color: black;
    font-weight: bold;
}

.button2 {
    border-radius: 50px;
}

.resize {
    border-style: dashed;
    resize: both;
    overflow: auto;
}